body{
    background-image: url("https://articles-img.sftcdn.net/auto-mapping-folder/sites/2/2023/03/fondo-paisaje-blanco-y-negro.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

h1{
    text-align: center;
    color: #000000;
}